name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, develop]

jobs:
  frontend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: 'yarn'
          cache-dependency-path: frontend/yarn.lock

      - name: Install dependencies
        run: |
          cd frontend
          yarn install --frozen-lockfile

      - name: Run linter
        run: |
          cd frontend
          yarn lint
        continue-on-error: true

      - name: Run unit tests
        run: |
          cd frontend
          yarn test --coverage --watchAll=false

      - name: Build application
        run: |
          cd frontend
          yarn build


  code-quality:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=coffee-challenge-mvst
            -Dsonar.organization=poldeperez
            -Dsonar.sources=frontend/src
            -Dsonar.javascript.lcov.reportPaths=frontend/coverage/lcov.info